@font-face {
  font-family: "GothamRoundedMedium";
  src: url("../fonts/GothamRoundedMedium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamRoundedBold";
  src: url("../fonts/GothamRoundedBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
} 